*, *::before, *::after
{
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

html{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {margin: 0; padding: 0;}

html, body{
	font-family: "Lucida Sans", sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Lucida Sans", sans-serif;
	font-weight: 400;
	margin: 10px 0;
	color: #047AA8
}

h1{font-size: 36px;} 
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 18px;}
h6{font-size: 16px;}

label{
	display: inline-block;
}

.error{color:red; font-size: 10px; font-weight: 400; font-style: italic;}


.container{
	height: 100%;
	overflow: hidden;
}

.header-wrapper{
	width: 100%;
	height: 60px;
	background-color: #047AA8;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.12);
	padding: 20px 20px;
	color: #ffffff;
	transition: top 0.3s;		
}

.content-wrapper{
	width: 100%;
}

.content-wrapper .content{
	width: 100%;
	padding: 10px;
	height: calc(100vh - 120px);
	height: -webkit-calc(100vh - 120px); /*Chrome, Safari*/
	height: -moz-calc(100vh - 120px); /*FireFox*/
	word-wrap: break-word;
	text-align: justify;
	overflow: auto;
}

.txt_content {
	font-size: 14px;
	font-weight: normal;
	color: #a6a6a6;
	padding-top: 10px;
	padding-bottom: 10px;
	pointer-events: none;
}

/*---------TEXTBOX NORMAL---------*/

input[type="text"]{
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #757575;
	border-radius: 3px;
}

/*-------------------------------*/

/*---------TEXTBOX GROUP---------*/

.grp_text{
	position: relative;
	margin-top: 35px;
	margin-bottom: 45px;
}

.grp_text input[type="text"]{
	font-size: 14px;
	padding: 10px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #f2f2f2;
}

.grp_text input[type="text"]:focus{
	outline: none;
}

.grp_text .txt_title{
	color: #a6a6a6;
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.grp_text input[type="text"]:focus ~ .txt_title,
.grp_text input[type="text"]:valid ~ .txt_title{
	top: -25px;
	font-size: 16px;
	/*color: #047AA8;*/
}

.grp_text input[type="checkbox"]{
	position: absolute;
	opacity: 0;
}

.grp_text input[type="checkbox"] + label{
	display: block;
	border-radius: 2px;
	color: #a6a6a6;
	font-size: 14px;
	padding: 0.8em;
	cursor: pointer;
}

.grp_text input[type="checkbox"] + label:before{
	content: '';
	background: #f4f4f4;
	border-radius: 3px;
	border: 1px solid #a6a6a6;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: -0.1em;
	margin-right: 1em; 
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.grp_text input[type="checkbox"]:checked + label:before{
	background-color: #047AA8;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.grp_text input[type="checkbox"]:focus + label:before{
	outline: none;
	border-color: #047AA8;
}

.grp_text input[type="checkbox"]:disabled + label:before{
	box-shadow: inset 0 0 0 4px #f4f4f4;
  	border-color: #a6a6a6;
  	background: #a6a6a6;
}
/*---------------------------------*/

/*---------CATEGORIES--------------*/
.grp_categories{
	position: relative;
	margin-top: 35px;
	margin-bottom: 45px;
}

.grp_categories input[type="radio"]{
	position: absolute;
	opacity: 0;
}

.grp_categories input[type="radio"] + label{
	display: block;
	border-bottom: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #a6a6a6;
	font-size: 14px;
	padding: 0.8em;
	cursor: pointer;
}

.grp_categories input[type="radio"] + label:before{
	content: '';
	background: #f4f4f4;
	border-radius: 100%;
	border: 1px solid #a6a6a6;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	/*top: -0.1em;*/
	margin-right: 1em; 
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.grp_categories input[type="radio"]:checked + label{
	color: #fff;
	background-color: #047AA8;
    opacity: 0.8;
    -webkit-transition: .5s all ease;
	-o-transition: .5s all ease;
	transition: .5s all ease;
}

.grp_categories input[type="radio"]:checked + label:before{
	background-color: #047AA8;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

.grp_categories input[type="radio"]:focus + label:before{
	outline: none;
	border-color: #047AA8;
}

.grp_categories input[type="radio"]:disabled + label{
	color: #f2f2f2;
}

.grp_categories input[type="radio"]:disabled + label:before{
	box-shadow: inset 0 0 0 4px #f4f4f4;
  	border-color: #f2f2f2;
  	/*background: #a6a6a6;*/
}
/*---------------------------------*/

/*-------------SELECT--------------*/
.grp_select{
	position: relative;
	margin-top: 35px;
	margin-bottom: 45px;
}

.grp_select .sel{
	position: relative;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.grp_select .sel select{
	display: inline-block;
	color: #a6a6a6;
	background: #e6e6e6;
	width: 100%;
	padding: 0.8em;
	border: 0;
	outline: 0;
	border-radius: 0;
	font-size: 14px;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
	cursor: pointer;
}

.grp_select .sel select:disabled{
	opacity: 0.5;
	pointer-events: none;
}

.grp_select .sel_arrow{
	position: absolute;
	top: 16px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #7B7B7B transparent;
}

/*---------------------------------*/

/*---------TEXTAREA NORMAL---------*/

textarea{
	width: 100%;
	height: 80px;
	padding: 12px;
	margin: 8px 0;
	text-align: justify;
	display: inline-block;
	border: 1px solid #757575;
	border-radius: 3px;
}

/*---------------------------------*/

/*----------DATETIMEPICKER---------*/
.datetimepicker{
	position: relative;
	margin-top: 35px;
	margin-bottom: 45px;
}

.dtp_container{
	display: none;
	width: 280px;
	margin: 0.5em;
	padding: 0.5em;
	border: 1px solid rgb(220,220,255);
	border-radius: 5px;
	background: #fff;
}

.dtp_container table{
	width: 100%;
	border: 1px solid rgb(220, 220, 255);
	border-radius: 3px;
	border-collapse: collapse;
	color: #444;
}

.dtp_container td{
	height: 24px;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid rgb(220, 220, 255);
	border-top: 1px solid rgb(220, 220, 255);
	width: 100% / 7;
	font-size: 11px;
}

.dtp_container td.not-current{
	color: #c0c0c0;
}

.dtp_container td.normal{
	font-weight: 400;
	cursor: pointer;
}

.dtp_container td:hover.normal, td:hover.today{
	background-color: #c0c0c0;
}

.dtp_container td.today{
	font-weight: 700;
	color: #047AA8;
	cursor: pointer;
}

.dtp_container thead td{
	border: none;
	text-transform: uppercase;
	font-weight: 700;
}

.dtp_container tr.days{
	font-weight: 700;
}

.dtp_container .btncalprev{
	float: left;
	margin-bottom: 10px;
}

.dtp_container .btncalprev:before{
	content: '<<';
	padding-right: 4px;
}

.dtp_container .btncalnext{
	float: right;
	margin-bottom: 10px;
}

.dtp_container .btncalnext:after{
	content: '>>';
	padding-left: 4px;
}

.dtp_container input[type="text"]{
	display: inline-block;
	width: 100px;
	height: 20px;
	text-align: center;
}

/*----------DATE TIME PICKER-------*/
.datepicker{
	position: relative;
	display: inline-block;
	margin-top: 35px;
	margin-bottom: 45px;
}

.datepicker select{
	display: inline-block;
	background-color: #fff;
	width: 80px;
	padding: 0.8em;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	outline: none;
	text-align: center;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

.datepicker .arrow{
	position: absolute;
	top: 13px;
	right: 13px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #7B7B7B transparent;
}
/*---------------------------------*/

/*---------------------------------*/

.content-wrapper .footer{
	position: fixed !important; 
	position: absolute; /*IE6 and above*/
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	padding: 5px;
	-moz-box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 -4px 8px rgba(0,0,0,0.24);
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 -4px 8px rgba(0,0,0,0.24);
	box-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 -4px 8px rgba(0,0,0,0.24);
	background-color: #FFFFFF;
	text-align: center;
	border: 1px solid #f2f2f2;
}

.btn{
	display: inline-block;
	border-radius: 2px;
	background-color: #047AA8;
	color: #ffffff;
	font-weight: 500;
	font-size: 18px;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 120px;
	margin: 0 auto;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

[class *= "col-"]{
	float: left; 
}
